
.footer{
    background-color: rgb(71, 71, 71);
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    &__title{
        margin-left: 23px;
        font-size: 1.1em;
        color: white;
    }
    &__nav ul{
        list-style-type: none;
        font-weight: bold;
        font-size: 0.9em;
        margin-left: -15px;
    }
}
    
.fa-utensils{
    margin-right: 10px;
}
.fa-hands-helping{
    margin-right: 4px;
}

@media only screen and (min-width :1024px){
    .footer{
        padding-top: 0px;
        text-align: center;
        &__title{
            margin-bottom: 30px;
            font-size: 3em;
        }
        &__nav ul{
            display: flex;
            justify-content: space-around ;
            list-style-type: none;
            font-size: 1.5em;
        }
    }
}


