.btn{
    @include gradient;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 200px;
    @include shadow;
    &:hover {
        transition: 200ms ease-in-out;
        opacity: 0.7;
        box-shadow: 2px 2px 2px black;
    }
}


.btn-function{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    padding: 15px 10px 10px 10px;
    height: 70px;
    font-weight: bold;
    font-size: 0.9em;
    border: none;
    @include background-grey;
    @include border-radius;
    @include shadow;
    transition: background-color 250ms;
    &:hover{
        background-color: rgba(245, 237, 255, 0.8);
    }
    &:hover + i{
        color: $colour-primary;
    }
}



